<% layout('layouts/app') %>

<h1>edit <%= member.name %></h1>

<form action="/member/<%= member._id %>?_method=put" method="post" novalidate enctype="multipart/form-data">
    <label for="name">name</label>
    <input type="text" name="member[name]" id="name" value="<%= member.name %>" >
    
    <label for="jabatan">Posision</label>
    <input type="text" name="member[jabatan]" id="jabatan" value="<%= member.jabatan %>">
    
    <label for="background">background</label>
    <input type="text" name="member[background]" id="background"value="<%= member.background %>">

    <label for="image">image</label>
    <input type="file" name="image" accept="image/*" required>

    <button type="submit">submit</button>
</form>