<% layout('layouts/app') %>
<link rel="stylesheet" href="/css/board.css">
<section class="slider_section">
    <% for(const imagage of member.image ) { %>

        <img class="imageMember" src="/image/member/<%= imagage.filename %>" alt="image">
        
        <% } %>
        
        <div>
            <h1 class="nameMember">
             <span><%= member.name %></span>   
            </h1>
            <h2 class="text-normal">
                <%= member.jabatan %>
            </h2>
            <h3 class="text-normal">
                <%= member.background %>
            </h3>
        
        </div>

<% if(currentUser && member.author.equals(currentUser._id)) { %>

<form action="/member/<%= member._id%>?_method=delete" method="post">
    <button class="new-periode-button">delete <%= member.name %></button>
</form>

<button class="new-periode-button"><a href="/member/<%= periode_id %>/<%= divisi_id %>/<%= member_id %>/edit">edit member</a></button>
<button class="new-periode-button"><a href="/periode">back to all periode</a></button> 

<% } %>
</section>