<% layout('layouts/app') %>
<link rel="stylesheet" href="/css/board.css">
<section class="slider_section ">

  <h1 class="title">Welcome to <span><%= periode.name  %>'s</span> board</h1>

<div class="divisi-divisi">
  <% for ( divisi of periode.divisis ) { %>
    <div class="divisi">
         <h1 class="nama-divisi" ><%= divisi.name %></h1>
        <a href="/divisi/<%= periode._id %>/<%= divisi._id %>/show">  
        <% for (const imagage of divisi.image) { %>
        <img class="imagePeriode" src="/uploads/divisi/<%= imagage.filename %>" alt="">
        <% } %>
      </a>
    </div>
    <% } %>  
      
</div>


<% if(currentUser && periode.author.equals(currentUser._id)) { %>
  <button class="new-periode-button"><a href="/divisi/<%= periode._id %>/create">create new division</a></button>  
 <button class="new-periode-button"> <a href="/periode/<%= periode._id %>/edit">edit this cabinet</a></button>   
  
  <form action="/periode/<%= periode._id %>?_method=delete" method="post" >
    <button class="new-periode-button" type="submit">delete <%= periode.name%></button>
  </form>

  <% } %>

</section>
  