<% layout('layouts/app') %>

  <h1><%= periode.name  %></h1>
  <% for(const imagage of periode.image) { %>
  <img src="/uploads/periode/<%= imagage.filename %>" alt="<%=  periode.name   %>">
  <% } %>
  <% for ( divisi of periode.divisis ) { %>
    <a href="/divisi/<%= periode._id %>/<%= divisi._id %>/show"><h4><%= divisi.name %></h4></a>  
    <% } %>
    
    <% if(currentUser && periode.author.equals(currentUser._id)) { %>
    <button><a href="/divisi/<%= periode._id %>/create">buat departemen baru</a></button>  
   <button> <a href="/periode/<%= periode._id %>/edit">edit periode ini</a></button>   
    
    <form action="/periode/<%= periode._id %>?_method=delete" method="post" >
      <button type="submit">delete <%= periode.name%></button>
    </form>

    <% } %>

 